<!-- Promo Style 6 -->
            <section class="section-padding-small promo-6">
                <div class="container">
                    <div class="center-block-1">
                        <!-- main heading -->
                        <h3 class="letter-spacing0">Its the design with which we can stand out in crowd</h3>
                        <!-- sub-text -->
                        <p class="text-uppercase letter-spacing1">Let's meet higher standards</p>
                        <!-- button -->
                        <a href="{{ site.baseurl }}/rfq" class="bttn bttn-small bttn-scale bttn75 margin-top20 letter-spacing2">Discuss a project</a>
                    </div>
                </div>
            </section>