<footer class="footer-1">
                <div class="container">
                    <div class="row">
                        <!-- logo -->
                        <div class="col-md-2">
                            <img class="img-responsive" src="../../public/img/other/logo64_dark.png" alt="">
                        </div>
                        <!-- main navigation links -->
                        <div class="col-md-7">
                            <!--
                            <ul>
                                <li><a href="#0">Contact</a></li>
                                <li><a href="#0">Elements</a></li>
                                <li><a href="#0">Footers</a></li>
                                <li><a href="#0">Portfolio</a></li>
                                <li><a href="#0">Team</a></li>
                                <li><a href="#0">Promo</a></li>
                            </ul>
                            -->
                        </div>
                        <!-- social buttons -->
                        <div class="col-md-3">
                            <div class="social-dark">
                                <a href="#0"><span class="ti-facebook"></span></a>
                                <a href="#0"><span class="ti-twitter-alt"></span></a>
                                <a href="#0"><span class="ti-linkedin"></span></a>
                                <a href="#0"><span class="ti-github"></span></a>
                                <a href="#0"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr-dark">
                <div class="container">
                    <!-- Copyright text -->
                    <div class="copyright">
                        <p>Copyright © 2017 | All Rights Reserved.</p>
                    </div>
                    <!-- Terms and Privacy links -->
                    <div class="terms">
                        <a href="#0">Terms and conditions</a><span> /</span>
                        <a href="#0">Special</a><span> /</span>
                        <a href="#0">Privacy Policy</a>
                    </div>
                </div>
            </footer>