<script src="{{ site.baseurl }}/public/js/jquery-2.1.1.js"></script>
<script src="{{ site.baseurl }}/public/js/jquery.smartmenus.js"></script>
<script src="{{ site.baseurl }}/public/js/smartmenu.script.js"></script>
<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/public/js/scripts.js"></script>        
<script src="{{ site.baseurl }}/public/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/public/js/masonry.pkgd.min.js"></script>
<script id="dsq-count-scr" src="//rahulkrishna.disqus.com/count.js" async></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
