// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
.stage{
    background: url(../public/cover/home-01.svg);
    color: #9ed5bd;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    .inside{
        padding-top: 35vh;
    }
    h1 {
        font-size: 3rem;
    }
    p{
    text-shadow: 3px 2px 2px #F44336;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    }
    a {
        color: #fff;
    }
    a.btn-fancy {
    border: solid 5px #F44336;
    margin-right: 10px;
    background: #9ed5bd;
    border-radius: 10px;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    box-shadow: 1px 1px 1px #000;
        margin-top: 5px;
    }
}
