// Masthead
//
// Super small header above the content for site name and short description.

.navbar-default {
    background-color: rgb(86, 86, 86);
    border-color: #572e2c;
    border: 0;
        .navbar-brand {
            color: #fff;
        }
        .navbar-nav>li>a {
            color: #fff;
        }
        .navbar-toggle {
            border: none;
                .icon-bar {
                background-color: #fff;
                }
        }
        .navbar-toggle:hover {
            background-color: #144a6d;
        }
}