// Masthead
//
// Super small header above the content for site name and short description.

.navbar-default {
    background-color: #2980b9;
    border-color: #1d6ea2;
        .navbar-brand {
            color: #fff;
        }
        .navbar-nav>li>a {
            color: #fff;
        }
        .navbar-toggle {
            border: none;
                .icon-bar {
                background-color: #fff;
                }
        }
        .navbar-toggle:hover {
            background-color: #144a6d;
        }
}