/* ----------------------------------
Description: Home Minimal style
Name: demo8.css
---------------------------------- */

.portfolio-2 {
    background: #F9F9F9;
    padding: 80px 0px
}

.content-block-7 {
    background: #FFFFFF
}
.content-block-7 .icon {
    color: #111111
}