<!DOCTYPE html>
<html lang="en">

    <head>
        {% include meta.html %}
        {% include stylesheets.html %}
        <link rel="stylesheet" href="public/css/owl-carousel.css">
        <link rel="stylesheet" href="public/css/demo/demo11.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    </head>

  <body id="top">
      <div id="preloader">
            <div id="status">
                <div data-loader="circle-side"></div>
            </div>
        </div>

    <main>
        {{ content }}
    </main>

     {% include footer.html %}
    
    {% include navbar.html %}
    {% include scripts.html %}
      <script src="{{ site.baseurl }}/public/js/demo/demo11.js"></script>
        <!-- page-wise script initialization -->
        <script>
            jQuery(document).ready(function($){
            	demo_11();				
            });
        </script>
    
  </body>
</html>