---
layout: blogs
---

<section class="blog-post-title bg-cover-simple" style="
                {% if page.cover == null %}
background-image:url(http://res.cloudinary.com/rahulkrishna/image/upload/q_100/v1501565265/bg018_rbqmtp.jpg);
                {% else %}                                    
                 background-image:linear-gradient(to right, rgba(75, 108, 183, 0.65), rgba(24, 40, 72, 0.8)), url({{page.cover}});  {% endif %}                                     ">
                <div class="container">
                    <div class="title-box">
                        <h3 class="text-white">{{ page.title }}</h3>
                        <p>{{ page.abstract }}</p>
                        <span class="article-by"><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></span>
                        
                    </div>
                </div>
</section>
<!-- Main Post -->
{% include socialshare.html %}
            <section class="blog-single-page section-padding-small">
                <div class="container">
                    <div class="col-md-8 col-sm-10 just-center no-padding">
                        {{ content }}
                        <!-- Pagination style 3 -->
                        <div class="pagination">
                            <ul class="mod-pagination move-buttons custom-icons">
                                <li class="button"><a href="#0">Prev Article</a></li>
                                <li class="button"><a href="#0">Next Article</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
<section class="blog-comment section-padding-small">
                <div class="container">
                    <h6 class="text-center font-w600">Share this article</h6>
                    <!-- Social Share -->
                    <div class="social-share text-center">
                        <a href="https://twitter.com/share?url={{page.url}}" target="_blank" onclick="return OpenPopupCenter(this.href, 'Facebook', 640, 300);"  class="bttn-scale twitter"><span class="fa fa-twitter"></span>Twitter</a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}" target="_blank" onclick="return OpenPopupCenter(this.href, 'Facebook', 640, 300);" class="bttn-scale facebook"><span class="fa fa-facebook"></span>Facebook</a>
                        <a href="https://plus.google.com/share?url={{page.url}}" target="_blank" onclick="return OpenPopupCenter(this.href, 'Facebook', 640, 300);" class="bttn-scale gplus"><span class="fa fa-google-plus"></span>Google</a>
                    </div>
                    <div class="col-md-8 col-sm-10 just-center no-padding">
                        <div class="comments-section">
                            {% include disqus.html %}
                               
                        </div>
                        
                    </div>
                </div>
            </section>