<!DOCTYPE html>
<html lang="en">
    {% include meta.html %}
  {% include stylesheets.html %}
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <body id="top">
     <div id="preloader">
            <div id="status">
                <div data-loader="circle-side"></div>
            </div>
        </div> 
    <main>
        {{ content }}
    </main>
      {% include cta1.html %}
     {% include footer.html %}
    
    {% include navbar.html %}
    {% include scripts.html %}
      
      <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
      <script>
            var $grid = $('.portfolio-2 .grid').isotope({
                itemSelector: '.grid-item'
            });
            // filter items on button click
            $('.filter-button-group').on( 'click', 'button', function() {
              var filterValue = $(this).attr('data-filter');
              $grid.isotope({ filter: filterValue });
            });
            $grid.imagesLoaded().progress(function () {
                $grid.isotope('layout');
            });
        </script>
 
    
  </body>
</html>